.infoColumns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-top: 1px solid #e5e5e5; 
  border-bottom: 1px solid #c4c4c4; 
}

.column {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.columnTitle {
  color: #3129AC;
  font-weight: bold;
  margin-bottom: 10px;
}

.columnText {
  color: black;
  margin-bottom: 10px;
}

.downloadButton, .learnMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ED560E, #FFA13A);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.downloadButton svg, .learnMoreButton svg {
  margin-left: 10px;
  font-size: 1.5rem; /* Increases size of icon */
}
