.storeDetails {
  margin-bottom: 20px;
  position: relative;
  z-index: 1; /* above other elements */
}

.backLink {
  display: flex;
  align-items: center;
  color: #c4c4c4;
  font-size: 0.8rem; 
  text-decoration: none;
  margin-bottom: 10px; 
  position: relative;
  z-index: 2; /* above other elements */
}

.backLink span {
  margin-left: 5px; 
}

.storeDetails h1 {
  font-size: 3.5rem; /* station name */
  margin-bottom: 40px; 
  margin-top: 70px;
  margin-left: 80px;
}

.addressContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 80px; 
}

.address {
  font-weight: bold;
  font-size: 0.9rem; 
  margin-right: 60px;
  max-width: 200px; 
  white-space: normal;
}

.getDirectionsButton {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ed560e, #ffa13a);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.getDirectionsButton svg {
  margin-left: 10px;
  font-size: 1.5rem; 
}
