.storeDetails {
  margin-bottom: 20px;
}

.addressSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  font-weight: bold;
}

.directionsButton {
  background: linear-gradient(to right, #ED560E, #FFA13A);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
