

.banner {
  height: 320px;
  width: 100%;
  background: linear-gradient(90deg, rgba(236,86,14,1) 0%, rgba(251,142,48,1) 35%, rgba(254,203,8,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure content is aligned at the start */
  padding: 20px;
  box-sizing: border-box;
}

.content{
  padding: 30px 6vw;
  flex-wrap: wrap;
}
.buttons {
  display: flex;
  gap: 15px; 
  width: 100%;
  padding-bottom: 20px;
}

.stackInput{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

  .buttonContainer {
    display: flex;
   flex-direction: row;
   align-items: center;
  }
  
  .submitButton {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #ED560E;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

.searchInput {
  width: 70vw;
  height: 8vh;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.stationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  font-size: 20px;
  background-color: #ED560E; 
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 10px; /* Adjust as desired */
  cursor: pointer;

}

.stationButton.clicked {
  background-color: #FFFFFF; /* Adjust color as needed */
  color: #ED560E;
  /* Adjust hover color */
}