.pageBody{
  /* width: clamp(390px, 1280px, 1280px); */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: #ED560E;
  font-size: 40px;
  font-weight: 800;
  text-align: start;
}
text{
  color: #383838;
  font-size: 20px;
}
.pageContent{
  width: 100%;
  position: relative;
}

.featureContainer{
  height: 440px;
  width: 100%;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  
}
.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50%;  
  padding-right: 20px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  height: fit-content;
  gap: 20px;
  margin-right: 3vw;
}

.buttonsContainer{
  display: flex;
  justify-content: start;
  width: 100%;
  height: fit-content;
  gap: 2vwpx;

}
.btn{
  height: 55px;
  width: auto;
}
.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.mapContainer >img{
  width: clamp(80%, 50%, 50%);
  height: 90%;
}

.serviceCardsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  gap: 40px;
  padding: 3px;
}
.serviceInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.serviceTitle{
  color: #ED560E;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 4vw;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.powerInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
}

.powerBanner{
  height: 440px;
  width: 100%;
  background-image: linear-gradient(90deg, #FF8043,#FFE68D);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 15px;
}
.whiteTitle{
  color: white;
  font-size: 40px;
}

.appBanner{
  height: 440px;
  width: 100%;
  
  display: flex;
  align-items: center;
  padding: 15px 0;
}