.footerSection {
  flex: 1;
  padding: 0 20px;
}

.footerSection h4 {
  margin-bottom: 10px;
  color: #ED560E;
}

.footerSection ul {
  list-style-type: none;
  padding: 0;
}

.footerSection ul li {
  margin-bottom: 5px;
}

.footerSection ul li a {
  color: #ED560E;
  text-decoration: none;
}

.footerSection ul li a:hover {
  text-decoration: underline;
}
