.filtersContainer {
  height: 200px;
  display: flex;
  justify-content: center;  
  align-items: center;
  position: relative;
  gap: 35px;
  padding-left: 20px;
}
.filtersContainer * {
  font-family: "Inter", sans-serif;
}

.filterTitle {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.applyButton {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.applyButton:hover {
  background-color: #0056b3;
}

.clearButton {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
}

.clearButton:hover {
  background-color: #cc0000;
}