@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.logoContainer {
  flex: 0 0 auto;
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
  position: relative; /* To position the underline */
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  position: relative; /* To position the underline */
}

.arrow {
  font-size: 1em;
  margin-left: 5px;
  display: inline-block;
  line-height: normal;
  transform: translateY(-4px); /* Adjust the position with this */
  font-weight: 700;
  text-shadow: 0 0 1px black;
}

.underline {
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 5px; /* Thick line */
  background-color: #ED560E;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.findStationButton {
  background: linear-gradient(to bottom, #ED560E, #C6450B);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.searchIcon {
  font-size: 1.2em;
  color: black;
}

.active {
  color: #FFA13A;
}

.dropdownContent {
  position: absolute;
  top: 80px; /* Lowered the dropdown */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Wider but not full width */
  max-width: 1400px; /* Adjusted for more width */
  background-color: white;
  border-top: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* To handle rounded corners */
  padding-top: 20px; 
}

.dropdownMenu {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  height: 300px; /* Increased height for a longer dropdown */
}

.productsServices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px; /* More space between products and services and headings */
  padding-left: 40px; 
}

.productsServices h1 {
  font-size: 2em; 
  color: #ED560E; 
  margin: 0;
  font-weight: 700; 
}

.arrowCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #ED560E, #FFA13A); 
  border-radius: 50%;
  color: white;
  font-size: 1.5em; 
  font-weight: 700;
  margin-top: 10px;
}

.rightArrow {
  font-size: 1.2em;
  font-weight: 700; 
  transform: scale(1) translateY(-1px); 
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: 1em; 
  font-weight: bold;
}

.smallArrow {
  font-size: 1em;
  margin-left: 5px;
}
