@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  position: relative;
  z-index: 50;
}

.logoContainer {
  flex: 0 0 auto;
}

.logo {
  height: 70px;
  width: auto; /* Maintain aspect ratio */
}

.nav {
  display: flex;
  gap: 50px;
  flex: 1;
  justify-content: flex-start;
  margin-left: 40px;
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  position: relative;
}

.chevronIcon {
  margin-left: 5px;
  font-size: 0.8em;
  display: inline-block;
  line-height: normal;
  transform: translateY(-2px);
  font-weight: 700;
}

.underline {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ED560E;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto; 
  
}

.findStationButton {
  background: linear-gradient(to bottom, #ED560E, #C6450B);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  cursor: pointer;
  padding-right: 60px; 
}

.searchIcon {
  font-size: 0.8em;
  color: #999;
}

.active {
  color: #ED560E;
}

.dropdownContent, .searchDropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1400px;
  background-color: white;
  border-top: 1px solid #ddd;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.dropdownContent.open, .searchDropdown.open {
  max-height: 500px;
  opacity: 1;
}

.dropdownContent.closing, .searchDropdown.closing {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease 0.5s;
}

.dropdownMenu, .searchDropdownMenu {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.productsServices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
  padding-left: 40px;
}

.productsServices h1 {
  font-size: 2em;
  color: #ED560E;
  margin: 0;
  font-weight: 900 !important;
}

.arrowCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #ED560E, #FFA13A);
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.arrowIcon {
  transition: transform 0.6s, opacity 0.6s;
}

.firstArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  opacity: 0;
}

.arrowCircle:hover .firstArrow {
  transform: translate(150%, -50%);
  opacity: 0;
}

.arrowCircle:hover .secondArrow {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.875em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.menuItem::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: #f8f8f8;
  border-radius: 15px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.menuItem:hover::before {
  opacity: 1;
}

.smallChevron {
  margin-left: 10px;
  color: #666;
  font-size: 0.8em;
}

.searchDropdown {
  background: linear-gradient(to right, #131045, #3129AC);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  position: relative; 
}

.searchInput {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  width: 800px; /* Fixed width for the input */
}

.searchIconInput {
  color: #999;
  font-size: 1.5em;
  margin-right: 10px;
}

.clearButton {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #999;
}


