.dataMap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg{
  display: flex;
  justify-content: flex-end;
  width: 45%;
  height: 800px;
}
.stationsContainer{
  height: 100%;
  width: 620px;
  overflow-y: scroll;
  
  padding: 0px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
/* scrollbar */
.stationsContainer::-webkit-scrollbar {
  width: 17px;
  border-radius: 17px;
}
.stationsContainer::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #ED560E;
}
.stationsContainer::-webkit-scrollbar-track {
  background-color: #F1F1F1;
  border-radius: 25px;
}

.stationsContainer *{
  font-family: "Inter", sans-serif;
  position: relative;
}

.station {
  margin-bottom: 20px;
  border-bottom: 0.2px solid #585967;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name{
  color: #1E196A;
}
.address{
  font-weight: 600;
}
.hoursContainer{
  font-weight: 600;
}

.dropdownButton{
  all: unset;
  font-weight: 600;
}
.servicesContainer{
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.service{
  background-color: #FF5200;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}
.pricesContainer{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.dropdownButton{
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdownButton img{
  scale: 0.9;
}
.fuelprices{
  margin-top: 10px;
  font-weight: 600;
}
.pricesContainer >*{
  font-size: 15px;
  font-weight: 600;
  
}
.pricesContainer img{
  height: 18px;
  width: auto;
}
.premPrice, .unleadPrice, .dieselPrice{
  display: flex;
  align-items: center;
  gap: 4px;
}
.premPrice{
  font-size: 16px;
  font-weight: 800;
  color: #CD3636;
}
.unleadPrice{
  font-size: 16px;
  font-weight: 800;
  color: #286732;
}
.dieselPrice{
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}



img{
  width: 55%;
}

